.App {
  align-items: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamButton{
  width: 100px;
  height: 50px;
}

.champ{
  text-align: center;
}

.matchup{
  max-width: 150px;
  margin: auto;
}
 .round1{
  height: 10px;
}

.round2{
  height: 50px
}

.round3{
  height: 150px;
}

.round4{
  height: 100px;
}   

h1 {
  color: #12263A;
}

.nav {
  color: #06BCC1;
}

.tourneyformDiv{
  max-width: 50%;
  margin: auto;
}

.formDiv{
  max-width: 500px;
  margin: auto;
}

.tourneyHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-dark {
  background-color: #102542 !important;
  border-color: #102542 !important;
}
.btn-info {
  background-color: #EEE1B3!important;
  border-color: #EEE1B3!important;
  color: black !important;
}

.btn-light{
  background-color: #A2D6F9 !important;
  border-color: #A2D6F9!important;
  overflow: hidden;
}

.badge-light{
  background-color: #A2D6F9 !important;
  border-color: #A2D6F9!important;
  font-size: 17px !important;
  /* text-align: center !important; */
  overflow: hidden;
}

.badge-dark{
  background-color: #102542 !important;
  border-color: #102542 !important;
  font-size: 17px !important;
  text-align: center !important;
}
.carousel-item {
  height: 80%;

}

.carousel-item img {
  object-fit: cover;
  object-position: 0% 120% 
}
.usersTournamentsPage{
  background: url(assets/trophy2.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  text-align: center;
}

.popover{
  /* background-color: #EEE1B3 !important; */
  /* justify-content: center !important; */
  margin: auto !important;
}

.jumbotron{
  background-color: #EEE1B3 !important;
}

.intro-box{
  opacity:80%;
  position: absolute;
  z-index: 100;
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.champion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  max-height: 100px;
}

.card {
  background-color:#EEE1B3 !important;
  display: flex !important;
  justify-content: center !important;
}

.card-title {
  color: #102542 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
